*.o
*.so
*.time
Makefile
mkmf.log
/docs/doc/
/src/extconf.h
/test/*/test.out
/test/*/test_mklang.sql
/test/conv_bitstring/test_queries.sql
/test/conv_geometry/test_queries.sql
/test/conv_network/test_queries.sql
/test/plp/test_setup.sql
/test/plt/test_setup.sql
/test/range/test_queries.sql
